<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Array</Title>
      <Shortcut>arr</Shortcut>
      <Description>تعريف مصفوفة</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>p1</ID>
          <ToolTip>p1</ToolTip>
          <Default>arr</Default>
        </Literal>
        <Literal>
          <ID>p2</ID>
          <ToolTip>p2</ToolTip>
          <Default>1, 2, 3</Default>
        </Literal>
      </Declarations>
      <Code Language="Rin"><![CDATA[let $p1$ = [$p2$];]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
