<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>container</Title>
      <Shortcut>container</Shortcut>
      <Description>حاوية بيانات</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>p1</ID>
          <ToolTip>p1</ToolTip>
          <Default>name</Default>
        </Literal>
      </Declarations>
      <Code Language="Rin"><![CDATA[@container=$p1$
	$end$
.end/container]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
