<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>For loop</Title>
      <Shortcut>for</Shortcut>
      <Description>حلقة for على طراز C (تهيئة؛ شرط؛ زيادة)</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>p1</ID>
          <ToolTip>p1</ToolTip>
          <Default>i</Default>
        </Literal>
        <Literal>
          <ID>p2</ID>
          <ToolTip>p2</ToolTip>
          <Default>count</Default>
        </Literal>
      </Declarations>
      <Code Language="Rin"><![CDATA[for (let $p1$ = 0; $p1$ < $p2$; $p1$ = $p1$ + 1) {
	$end$
}]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
