<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>object (call-style)</Title>
      <Shortcut>objectcall</Shortcut>
      <Description>كائن بمعرّف صريح، بأسلوب استدعاء دوال: .object("id") name(...); container.(); .end/object</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>p1</ID>
          <ToolTip>p1</ToolTip>
          <Default>user01</Default>
        </Literal>
      </Declarations>
      <Code Language="Rin"><![CDATA[.object("$p1$")
    name($end$);
    container.();
.end/object]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
