<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>save</Title>
      <Shortcut>save</Shortcut>
      <Description>حفظ الحاوية كملف .rin</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>p1</ID>
          <ToolTip>p1</ToolTip>
          <Default>exports/output.rin</Default>
        </Literal>
      </Declarations>
      <Code Language="Rin"><![CDATA[save path="$p1$";]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
