<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Volume</Title>
      <Shortcut>volume</Shortcut>
      <Description>مستوى تنظيم أعلى (مجلد منطقي)</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>p1</ID>
          <ToolTip>p1</ToolTip>
          <Default>name</Default>
        </Literal>
      </Declarations>
      <Code Language="Rin"><![CDATA[@Volume=$p1$
	$end$
.end/Volume]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
